<div class="row mt-3 gx-3 d-flex justify-content-between align-items-center">
  <div class="col-md-2 d-flex flex-column justify-content-between bg-light p-3 rounded align-items-center metric-card">
    <%= image_tag asset_path('icon/user.svg'), class: 'icon'%>
    <p class="text-muted text-center" style="margin-top: 3px;" >Users: <%= User.count %></p>
    <%= link_to "View Users", admin_tenants_path, class: "btn btn-primary" %>
  </div>
  <div class="col-md-2 d-flex flex-column justify-content-between bg-light p-3 rounded align-items-center metric-card">
    <%= image_tag asset_path('icon/products.svg'), class: 'icon'%>
    <p class="text-muted text-center" style="margin-top: 3px;" >Products: <%= Product.count %></p>
    <%= link_to "View Products", admin_products_path, class: "btn btn-primary" %>
  </div>
  <div class="col-md-2 d-flex flex-column justify-content-between bg-light p-3 rounded align-items-center metric-card" >
    <%= image_tag asset_path('icon/categories.svg'), class: 'icon'%>
    <p class="text-muted text-center" style="margin-top: 3px;" >Categories: <%= Category.count %></p>
    <%= link_to "View Categories", admin_categories_path, class: "btn btn-primary" %>
  </div>
  <div class="col-md-2 d-flex flex-column justify-content-between bg-light p-3 rounded align-items-center metric-card">
    <%= image_tag asset_path('icon/order.svg'), class: 'icon'%>
    <p class="text-muted text-center" style="margin-top: 3px;" >Orders: <%= Order.count %></p>
    <%= link_to "View Orders", admin_path, class: "btn btn-primary" %>
  </div>
</div>
