<%= form_with(model: [:admin, admin_product]) do |form| %>
  <% if admin_product.errors.any? %>
    <div class="admin_product-errors alert alert-danger">
      <h2><%= pluralize(admin_product.errors.count, "error") %> prohibited this admin_product from being saved:</h2>
      <ul>
        <% admin_product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="admin_product-form-group">
    <%= form.label :name, class: "admin_product-label" %>
    <%= form.text_field :name, class: "form-control admin_product-input" %>
  </div>
  <div class="admin_product-form-group">
    <%= form.label :description, class: "admin_product-label" %>
    <%= form.text_area :description, class: "form-control admin_product-input" %>
  </div>
  <div class="admin_product-form-group">
    <%= form.label :price, class: "admin_product-label" %>
    <%= form.text_field :price, class: "form-control admin_product-input" %>
  </div>
  <div class="admin_product-form-group">
    <%= form.label :category_id, class: "admin_product-label" %>
    <%= form.select :category_id, options_from_collection_for_select(Category.all, :id, :name), { include_blank: "Select a Category" }, { class: "form-control admin_product-input" } %>
  </div>
  <div class="admin_product-form-group">
    <%= form.submit "Save Product", class: "btn btn-primary admin_product-btn-submit" %>
  </div>
<% end %>
